<tr>
    <td>{{numer}}</td>
    <td>{{powierzchnia}} m&sup2;</td>
    <td>{{pokoje}}</td>
    <td>{{pietro}}</td>
    <td>{{status}}</td>
    <td>{{cena}} zł</td>
    <td><a href="">karta</a></td>
    <td><a href="">koszyk</a></td>
</tr>